<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
		<title>404</title>
	</head>

	<body style="display: flex;justify-content: center;">
		<style>
			body {
				font-family: "Montserrat", sans-serif;
			}

			a {
				text-decoration: underline;
			}
		</style>
		<p style="margin-top: 10rem;font-weight: bold;font-size: 5rem;width: 100%;text-align: center;"><span
				style="color: rgb(39, 134, 251);">404</span>
			page not
			found <br>return <a style="color: inherit;" href="/">home</a></p>
	</body>

</html>